h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: blue;
  font-weight: bold;
}

h1 {
  font-size: 95px;
}

P {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
}

.Knight {
  background: #317312 #6ebb2d #ded6c9 #24baec;
  text-align: center;
}

.Knight p {
  font-size: 37px;
}

.Knight h2 {
  font-family: "Inter", sans-serif;
}
