:root {
  --branding-color: purple;
}

h1 {
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: bold;
  font-size: 87px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.Knight {
  font-size: 37px;
  font-weight: bold;
  margin: 0;
  background-color: aquamarine;
  text-align: center;
}

.Knight h2 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 2;
}

.btn-branding {
  background: purple;
  border-radius: 4px;
  color: rgb(7, 41, 40);
  font-size: 19px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: "Libre Baskerville", serif;
}
.btn-branding-outline {
  background: purple;
  border-radius: 4px;
  color: rgb(7, 41, 40);
  font-size: 19px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: "Libre Baskerville", serif;
}
